*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
  
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.7)),url(.//Images/Shelf.jpg);
    background-position: center;
    background-size: cover;
  
}



.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo{
    width: 50px;
    cursor: pointer;
   
  }


.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
 }
 
 .col{

    width: 100px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    display: inline-block;
     
 }
 h1{
    color: #fff; 
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }
 p{
    color: #fff; 
    font-size: 18px;
    line-height: 15px;
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    
    
 }

 .button{
     width: 180px;
     color: #000;
     font-size: 12px;
     padding: 12px;
     background: #fff;
     border: 0;
     border-radius: 20px;
     outline: none;
     margin-top: 30px;
     display: inline;

 }

 .abook{
     height: 100vh;
     width: 100%;
     background-image: url(../Platonic/Images/Headphones2.jpg);
     background-size: cover;
     background-position: center;
     position: relative;
 }

 .content{
     width: 100%;
     position: absolute;
     top: 40%;
 }

 .left-col{
     margin-left: 6%;
 }

 .left-col h1{
    font-size: 50px;
    color: white;
    line-height: 70px;
    float: left;
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;

}

.right-col p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    margin-right: 15px;
}

#ikona{
    width: 80px;
    cursor: pointer;
}

#form{
    border: 1px solid black;
    width: 20%;
    left: 20%;
    position: absolute;
    margin: auto 20%;
    height: 20%;
    top: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
   
    

    
    background: white;
   padding: 2%;
 
     /*justify-content: center;
    align-items: center;
  
    text-align: center;
    display: inline-block;*/
    
}

.button-box{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px;
    background:blanchedalmond;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    display: inline;
}
